@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  width: 90%;
  margin: auto;
  overflow: hidden;
  text-align: left;
position: relative;
}

.title{
  position: absolute;
  bottom: -90px;
  color: white;
  margin: 0 20px;
}

img {
  /* width: 80%; */
  width: 700px;
  max-height: 500px;

}
.caption:hover > div.title{
  animation-name: title-moveup;
  animation-duration: 2s;
  animation-fill-mode:forwards ;
}

@keyframes title-moveup{
  from{ transform: translateY(0);}
  to{ transform: translateY(-400px); }
}

button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

button:hover {
  background-color: cornflowerblue;
}
